Modulo or "Mod" Operator (AIRTHEMATIC OPERATORS)

In [1]:
7 / 4

1.75

In [1]:
7 % 4

3

In [3]:
50 % 5

0

In [4]:
23 % 2

1

In [5]:
20 % 2

0

In [6]:
2 ** 3

8

In [7]:
(2 + 10) * (10 + 3)

156

Python 3 always perform perfect calculation.

VARIABLE ASSIGNMENTS

In [9]:
a = 5

In [10]:
a

5

In [11]:
a = 10

In [12]:
a

10

In [13]:
a + a

20

In [14]:
a

10

In [15]:
a = a + a

In [16]:
a

20

In [17]:
type(a)

int

In [18]:
a = 30.1

In [19]:
type(a)

float

In [20]:
my_income = 200

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [21]:
my_taxes

20.0

STRING

In [1]:
'hello'

'hello'

In [2]:
"world"

'world'

In [3]:
'this is also a string'

'this is also a string'

In [4]:
"I'm going on a run"

"I'm going on a run"

In [5]:
print("hello world")

hello world

In [6]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [7]:
print('hello \nworld')

hello
world

In [8]:
len('hello')

5

In [9]:
len('i am')

4

In [10]:
mystring = "hello wworld"

In [11]:
mystring

'hello wworld'

In [12]:
mystring[0]

'h'

In [13]:
mystring[9]

'r'

In [14]:
mystring

'hello wworld'

In [15]:
mystring[-2]

'l'

In [16]:
mystring[-1]

'd'

In [18]:
mystring = "abcdefghijk"

In [19]:
mystring

'abcdefghijk'

In [20]:
mystring[2:]

'cdefghijk'

In [21]:
mystring[:3]

'abc'

:3 means go upto 3 but dont include it

In [22]:
mystring[3:6]

'def'

In [23]:
mystring[1:3]

'bc'

In [24]:
mystring[::3]

'adgj'

In [25]:
mystring[2:7:2]

'ceg'

In [26]:
mystring[::-1]

'kjihgfedcba'

STRING PROPERTIES AND METHODS

IMMUTABILITY

In [28]:
name = 'sam'

In [30]:
last_letters = name[1:]

In [31]:
last_letters

'am'

In [32]:
'p' + last_letters

'pam'

In [33]:
x = " hello world "

In [34]:
x = x  +  " its beautiful outside"

In [39]:
x

'hello worldits beautiful outside'

In [41]:
letter = 'z'

In [42]:
letter * 10

'zzzzzzzzzz'

DYNAMIC TYPING

In [43]:
2 + 3

5

In [44]:
'2' + '3'

'23'

In [45]:
x = "hello world"

In [46]:
x.upper()

'HELLO WORLD'

In [47]:
x

'hello world'

In [48]:
x.lower()

'hello world'

In [49]:
x.split()

['hello', 'world']

In [50]:
x = "this is a string"

In [54]:
x.split('i')

['th', 's ', 's a str', 'ng']

FORMATTING WITH THE .format() method

a good way to format objects into your strings for print statements is with the string .format()
method .The syntax is:

'String here {} then also{}'.format('something1','something2')

In [4]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [5]:
print('the {} {} {}'.format('fox','brown','quick'))

the fox brown quick

In [6]:
print('the {2} {1} {0}'.format('fox','brown','quick'))

the quick brown fox

In [16]:
print('the {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

the quick brown fox

In [8]:
result = 100/777

In [9]:
result

0.1287001287001287

In [14]:
print("the result was {r}".format(r=result))

the result was 0.1287001287001287

float formatting follows "{value:width.precision f}"

In [17]:
print("the result was {r:1.3f}".format(r=result))

the result was 0.129

F STRING METHOD

In [18]:
name = "jose"

In [20]:
print(f'hello, his name is {name}')

hello, his name is jose

In [21]:
name = "sam"

In [22]:
age = "3"

In [23]:
print(f'{name} is {age} years old')

sam is 3 years old